@model TallerHernandez.Areas.Empleado.Models.Empleado
@{
    ViewData["Title"] = "Create";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> pagos = (List<SelectListItem>)ViewBag.pagos;
    List<SelectListItem> roles = (List<SelectListItem>)ViewBag.roles;
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h1>Crear nuevo empleado</h1>
<h5>Llene el siguiente formulario con los datos del nuevo empleado</h5>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 superRedondo" style="background-color:#fff">
            <div class="row">
                <div class="col-md-6 col-sm-12 pt-4 pl-4 pr-4 pb-3">
                    @*<div class="text-center"><h3>Registrar Empleado</h3></div>*@
                    <div class="text-center pt-4" >
                        <img class="rounded-circle" src="/images/user.png" alt="usuario" style="width:75%;height:60%" id="file-preview-zone"/>
                    </div>
                    <div class="caption text-center mb-4 mt-2">
                        <label class="btn btn-primary btn-block" for="files">Subir Fotografía</label>
                        <input asp-for="imagen.imageFile" accept="image/*" type="file" class="btn btn-info" id="files" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control" placeholder="Nombre del empleado" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="apellido" class="control-label"></label>
                        <input asp-for="apellido" class="form-control" placeholder="Apellido del empleado" />
                        <span asp-validation-for="apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 superRedondo pt-4 pl-4 pr-4 pb-3" style="background-color:#a6a6a6">
                    <div class="text-center mb-4"><h3>Datos personales</h3></div>
                    <div class="form-group">
                        <label asp-for="dui" class="control-label"></label>
                        <input asp-for="dui" class="form-control" placeholder="00000000-0" />
                        <span asp-validation-for="dui" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="salario" class="control-label"></label>
                        <input asp-for="salario" class="form-control" placeholder="Salario a pagar" />
                        <span asp-validation-for="salario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idModo" class="control-label"></label>
                        @*<input asp-for="idModo" class="form-control" placeholder="Modo de pago" />*@
                        @Html.DropDownList("idModo", pagos, "Seleccione el modo de pago", new { @class = "form-control" })
                        <span asp-validation-for="idModo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idArea" class="control-label"></label>
                        @*<input asp-for="idArea" class="form-control" placeholder="Area de trabajo" />*@
                        @Html.DropDownList("idArea", items, "Seleccione el área de trabajo", new { @class = "form-control" })
                        <span asp-validation-for="idArea" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idRol" class="control-label"></label>
                        @Html.DropDownList("idRol", roles, "Seleccione el rol del empleado", new { @class = "form-control" })
                        <span asp-validation-for="idRol" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="telefono" class="control-label"></label>
                        <input asp-for="telefono" class="form-control" placeholder="########" />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="correo" class="control-label"></label>
                        <input asp-for="correo" class="form-control" placeholder="email@gmail.com" />
                        <span asp-validation-for="correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar empleado" class="btn btn-success btn-block" />
                    </div>
                    <div>
                        <a class="btn btn-danger btn-block" asp-action="Empleado">Cancelar</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</form>
<script
    type = "text/javascript" src = "/js/previewImagen.js">
</script>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

