@model TallerHernandez.Areas.Empleado.Models.datosUsuario

@{
    ViewData["Title"] = "datosUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Datos de usuario de la cuenta del empleado</h1>

<div>
    <h4>Se ha agregado el empleado con las siguientes credenciales: </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contra)
        </dd>
    </dl>
</div>
<p>Las cuentas de usuario para el empleado se crean automáticamente,
    guarde los datos anteriores para proporcionarselos al empleado.
    Todas las credenciales corresponden al correo del empleado como nombre de usuario
    y una contraseña provisional con el formato '&#64NombredelEmpleado123a'</p>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })*@ 
    <a class="btn btn-primary" asp-action="Index">Regresar</a>
</div>
