@model TallerHernandez.Areas.Empleado.Models.Empleado

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualizar Empleado</h1>

<h4>Realice los cambios que necesite en el formulario siguiente</h4>
<hr />
<form asp-area="Empleado" asp-controller="Empleado" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="imagen.nombreImagen" />
    <div class="row">
        <div class="col-12 superRedondo" style="background-color:#fff">
            <div class="row">
                <div class="col-md-6 col-sm-12 pt-4 pl-4 pr-4 pb-3">
                    @*<div class="text-center"><h3>Registrar Empleado</h3></div>*@
                    <div class="text-center pt-4">
                        @if (Model.imagen.nombreImagen == "" || Model.imagen.nombreImagen == null)
                        {
                            <img class="rounded-circle" src="/images/user.png" alt="usuario" style="width:75%;height:70%" id="file-preview-zone"
                                 @*data-holder-rendered="true"*@/>
                        }
                        else
                        {
                            <img class="rounded-circle" src="@("~/uploads/"+Model.imagen.nombreImagen)" asp-append-version="true"
                                 alt="usuario" style="width:65%;height:60%" id="file-preview-zone"  />
                        }
                    </div>
                    <div class="caption text-center mb-4 mt-2">
                        <label class="btn btn-primary btn-block" for="files">Subir Fotografía</label>
                        <input asp-for="imagen.imageFile" accept="image/*" type="file" class="btn btn-info" id="files" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="idEmpleado" class="control-label"></label>
                        <input asp-for="idEmpleado" class="form-control" readonly />
                        <span asp-validation-for="idEmpleado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="apellido" class="control-label"></label>
                        <input asp-for="apellido" class="form-control" />
                        <span asp-validation-for="apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 superRedondo pt-4 pl-4 pr-4 pb-3" style="background-color:#a6a6a6">
                    <div class="text-center mb-4"><h3>Datos personales</h3></div>

                    <div class="form-group">
                        <label asp-for="idModo" class="control-label"></label>
                        <input asp-for="idModo" class="form-control" />
                        <span asp-validation-for="idModo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idArea" class="control-label"></label>
                        <input asp-for="idArea" class="form-control" />
                        <span asp-validation-for="idArea" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="dui" class="control-label"></label>
                        <input asp-for="dui" class="form-control" />
                        <span asp-validation-for="dui" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="salario" class="control-label"></label>
                        <input asp-for="salario" class="form-control" />
                        <span asp-validation-for="salario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="telefono" class="control-label"></label>
                        <input asp-for="telefono" class="form-control" />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="correo" class="control-label"></label>
                        <input asp-for="correo" class="form-control" />
                        <span asp-validation-for="correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar Cambios" class="btn btn-success btn-block"/>
                    </div>
                    <div>
                        <a class="btn btn-dark btn-block"asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/previewImagen.js">
</script>


