@model TallerHernandez.Models.Cliente

@{
    ViewData["Title"] = "Create";
}
    <div style="background-image:url('/wwwroot/images/fondo 1-02.png')">
        <h1>Nuevo</h1>

        <h4>Cliente</h4>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4 bg-white shadow" style="z-index:4;">

                    <div class="text-center pt-4">
                        <img class="rounded-circle" src="/images/automobile1.jpg" alt="usuario" width="200" height="200" id="file-preview-zone" />
                    </div>
                    <div class="caption text-center mb-4 mt-2">
                        <label class="btn btn-primary btn-block" for="files">Subir Fotografía</label>
                        <input asp-for="imagen.imageFile" accept="image/*" type="file" class="btn btn-info" id="files" hidden />
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="clienteID" class="control-label"></label>
                        <input asp-for="clienteID" class="form-control" />
                        <span asp-validation-for="clienteID" class="text-danger"></span>
                        @if(@ViewData["id"].ToString() == "verdad")
                        {
                            <span class="text-danger">Este cliente ya existe</span>
                            }
                          
                    </div>

                </div>
                <div class="col-md-8 bg-white">
                    <div class="form-group">
                        <label asp-for="nombre" class="control-label"></label>
                        <input asp-for="nombre" class="form-control" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="apellido" class="control-label"></label>
                        <input asp-for="apellido" class="form-control" />
                        <span asp-validation-for="apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="correo" class="control-label"></label>
                        <input asp-for="correo" class="form-control" />
                        <span asp-validation-for="correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="telefono" class="control-label"></label>
                        <input asp-for="telefono" class="form-control" />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="puntos" class="control-label"></label>
                        <input asp-for="puntos" min="0" class="form-control" />
                        <span asp-validation-for="puntos" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>

            </div>

        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
