@model TallerHernandez.Models.AsignacionTarea

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Asignación de Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="recepcionID" class="control-label">Trabajos próximos a entregar</label>
                <select asp-for="recepcionID" class="form-control" asp-items="ViewBag.recepcionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="empleadoID" class="control-label">Encargado</label>
                <select asp-for="empleadoID" class="form-control" asp-items="ViewBag.empleadoID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

