@{
    ViewData["Title"] = "Home Page";
}
<div class="mb-5">
    <div class="row">
        <div class="rounded mx-auto d-block">
            <img src="/images/logoTaller.png" alt="logo" style="width:200px;height:175px" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 font-weight-normal">TALLER HERNÁNDEZ</h1>
            <p style="color:#d00e15" class="font-weight-bold">SISTEMA DE GESTIÓN DE VEHÍCULOS</p>
        </div>
    </div>
</div>
<div class="img-fluid bg-cover px-0 m-0">
</div>
