@model TallerHernandez.Models.Rol

@{
    ViewData["Title"] = "Crear Rol - Taller Hernández";
}

    <div class="d-flex align-items-center justify-content-center">
        <div class="row justify-content-center h-100">
            <div class="card text-center my-auto">
                <div class="card-header">
                    Crear un nuevo rol
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="rolNom" class="control-label"></label>
                            <input asp-for="rolNom" class="form-control" />
                            <span asp-validation-for="rolNom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-success btn-block" />
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a asp-action="Index" class="btn btn-block btn-primary">Regresar a la lista</a>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
