@model TallerHernandez.ViewModels.EditRoleViewModel

@{
    ViewData["Title"] = "Editar Roles - Taller Hernández";
}


<div class="d-flex align-items-center justify-content-center">
    <div class="row justify-content-center h-100">        
            <div class="card text-center">
                <div class="card-header" style="width: 30rem;">
                    <h3>Editar Rol</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Id" class="control-label">ID:</label>
                        <input asp-for="Id" class="form-control" disabled />
                        <br />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Nombre:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Actualizar" class="btn btn-success btn-block" />
                        </div>

                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a asp-action="Index" class="btn btn-block btn-primary">Regresar a la lista</a>
                </div>
            </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card text-center" style="width: 30rem;">
                    <div class="card-header">
                        <h2>Usuarios en este rol</h2>
                    </div>
                    <div class="card-body">
                        @if (Model.Users.Any())
                        {
                            
                            @foreach (var user in Model.Users)
                            {
                                <h4 class="card-title">@user</h4>
                            }
                            
                        }
                        else
                        {
                            <h5 class="card-title">No hay usuarios en este rol</h5>
                        }
                    </div>
                    <div class="card-footer">
                        <a asp-action="EditUsersInRole" asp-controller="Rols" asp-route-rolId="@Model.Id" class="btn btn-block btn-primary" style="width:auto">Agregar o Remover Usuarios</a>
                    </div>
                </div>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
