@model TallerHernandez.Models.Recepcion

@{
    ViewData["Title"] = "Create";
    var placas = ViewBag.automovilID as List<SelectListItem>;
    var duenio = ViewBag.clienteID as List<SelectListItem>;
}


<h1>Ficha de ingreso</h1>
<hr />
<div class="mb-3">
    <a class="btn btn-outline-primary font-weight-bold btn-sm" asp-action="Index">Regresar</a>
</div>
<form id="regForm" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="estado" value="1" hidden />
    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        <h4>Información</h4>
        <small class="text-danger">Los campos marcados con (*) son obligatorios</small>
        <div class="form-group">
            <label asp-for="automovilID" class="control-label"></label><span class="text-danger">*</span>
            @*<select asp-for="automovilID" class="form-control search" asp-items="ViewBag.automovilID" id="carro"></select>*@
            @Html.DropDownListFor(x => x.automovilID, placas, "Seleccione un automóvil", new
            {
                @class = "form-control search",
            data_cascade_combo = "#stypes",
            data_cascade_combo_source = Url.Action("obtenerDuenio", "Recepcions"),
            data_cascade_combo_param_name = "id"
            })
            <span asp-validation-for="automovilID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="fechaEntrada" class="control-label"></label><span class="text-danger">*</span>
            <input asp-for="fechaEntrada" class="form-control" id="fentrada" />
            <span asp-validation-for="fechaEntrada" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="empleadoID" class="control-label"></label><span class="text-danger">*</span>
            <select asp-for="empleadoID" class="search form-control" asp-items="ViewBag.empleadoID" id="mecanico"></select>
        </div>
    </div>

    <div class="tab">
        <h4>Servicio</h4>
        <div class="form-group">
            <label asp-for="diagnostico" class="control-label"></label><span class="text-danger">*</span>
            <textarea asp-for="diagnostico" class="form-control" oninput="this.className = 'form-control '" rows="3" id="diag"></textarea>
            <span asp-validation-for="diagnostico" class="text-danger"></span>
        </div>
        <p>¿Qué servicio se le dará al cliente?</p>
        <div id="div-procedimiento" class="d-block">
            <div class="form-group">
                <!--<label asp-for="procedimientoID" class="control-label"></label><span class="text-danger">*</span>-->
                @*<select asp-for="procedimientoID" class="search form-control" asp-items="ViewBag.procedimientoID"></select>*@
                <!--@Html.DropDownList("procedimientoID", (SelectList)ViewBag.ListaP, "Seleccione una opción", new { @class = "search form-control activo", @id = "sproc", @onchange = "ocultar()" })
                <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#modalProc">
                    <i class="material-icons" style="font-size:13px">add</i>Añadir
                </button>-->
            </div>
        </div>
        <span id="proc-invalid" class="text-danger d-none">Debe seleccionar una opción</span>

    </div>

    <div class="tab">
        <h4>Finalizar</h4>
        
        <div class="form-group">
            <label asp-for="fechaSalida" class="control-label"></label><span class="text-danger">*</span>
            <input asp-for="fechaSalida" class="form-control" value="" />
            <span asp-validation-for="fechaSalida" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="clienteID" class="control-label"></label>
            @*<select asp-for="clienteID" class="form-control" asp-items="ViewBag.clienteID"></select>*@
            @Html.DropDownListFor(x => x.clienteID, duenio, new { @class = "form-control", id = "stypes",})            
        </div>
        <div class="form-group">
            @*<p>Repuestos</p>*@
        </div>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-outline-dark">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-outline-dark">Siguiente</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" hidden id="recargar" />
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Mantenimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre" class="control-label">Mantenimiento</label>
                        <input name="nombre" id="nombre" for="nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="precio" class="control-label">Precio</label>
                        <input name="precio" id="precio" for="precio" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="areaID" class="control-label">Área a la que pertenece</label>
                        <select name="areaID" id="areaID" for="areaID" class="form-control" asp-items="ViewBag.areas"></select>
                    </div>
                    <label id="mensaje" class="text-danger"></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarMantenimiento()" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProc" tabindex="-1" role="dialog" aria-labelledby="modalProcTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProcLongTitle">Nuevo Procedimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombre" class="control-label">Procedimiento</label>
                        <input name="procedimiento" id="procedimiento" for="procedimiento" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="precio" class="control-label">Precio</label>
                        <input name="precioProc" id="precioProc" for="precioProc" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="areaID" class="control-label">Área a la que pertenece</label>
                        <select name="areaIDProc" id="areaIDProc" for="areaIDProc" class="form-control" asp-items="ViewBag.areas"></select>
                    </div>
                    <label id="mensajeProc" class="text-danger"></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarProcedimiento()" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Procedimiento.js"></script>
    <script src="~/js/Mantenimiento.js"></script>
    <script src="~/js/multistep.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.search').select2();
        });

        function show1() {
            //document.getElementById('div1').style.display = 'none';
            document.getElementById('div-procedimiento').className = 'd-block';
            document.getElementById('div-mantenimiento').className = 'd-none';
            document.getElementById('sproc').className += ' activo';
            document.getElementById('sman').className = 'search form-control select2-hidden-accessible';
        };
        function show2() {
            document.getElementById('div-mantenimiento').className = 'd-block';
            document.getElementById('div-procedimiento').className = 'd-none';
            document.getElementById('sman').className += ' activo';
            document.getElementById('sproc').className = 'search form-control select2-hidden-accessible';
        };
        function show3() {
            document.getElementById('div-mantenimiento').className = 'd-block';
            document.getElementById('div-procedimiento').className = 'd-block';
            document.getElementById('sman').className = 'search form-control select2-hidden-accessible activo';
            document.getElementById('sproc').className = 'search form-control select2-hidden-accessible activo';
        };

        //Obtener dueño del automovil
        $(document).on('change', '[data-cascade-combo]', function (event) {

            var id = $(this).attr('data-cascade-combo');

            var url = $(this).attr('data-cascade-combo-source');

            var paramName = $(this).attr('data-cascade-combo-param-name');

            var data = {};
            data[paramName] = id;

            $.ajax({
                url: url,                
                data: {
                    id: $(this).val()
                },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {                 
                    $(id).html('');
                    $.each(response, (index, type) => {
                        var content = '<option value="' + type.Value + '">' + type.Text + '</option>';
                        $(id).append(content);                        
                    });                        
                }
            });
        });
    </script>

}
