@model TallerHernandez.Models.Recepcion

@{
    ViewData["Title"] = "Create";
    var today = DateTime.Today.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
}


<h1>Ficha de ingreso</h1>

<hr />
<form id="regForm" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="estado" value="1" hidden/>
    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        <h4>Información</h4>
        <div class="form-group">
            <label asp-for="automovilID" class="control-label"></label>
            <select asp-for="automovilID" class="form-control search" asp-items="ViewBag.automovilID"></select>
        </div>
        <div class="form-group">
            <label asp-for="fechaEntrada" class="control-label"></label>
            <input asp-for="fechaEntrada" class="form-control" />
            <span asp-validation-for="fechaEntrada" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="empleadoID" class="control-label"></label>
            <select asp-for="empleadoID" class="search form-control" asp-items="ViewBag.empleadoID"></select>
        </div>        
    </div>

    <div class="tab">
        <h4>Servicio</h4>
        <div class="form-group">
            <label asp-for="diagnostico" class="control-label"></label>
            <textarea asp-for="diagnostico" class="form-control" oninput="this.className = 'form-control '" rows="4"></textarea>
            <span asp-validation-for="diagnostico" class="text-danger"></span>
        </div>
        <p>¿Qué servicio se le dará al cliente?</p>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="tab" value="procedimiento" onclick="show1();" checked />
                Reparación
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="tab" value="mantenimiento" onclick="show2();" />
                Mantenimiento
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="tab" value="ambos" onclick="show3();" />
                Mantenimiento y Reparación
            </label>
        </div>
        <div id="div-mantenimiento" class="d-none">
            <div class="form-group">
                <label asp-for="mantenimientoID" class="control-label"></label>
                <select asp-for="mantenimientoID" class="search form-control" asp-items="ViewBag.mantenimientoID"></select>
                @*@Html.DropDownList("mantenimientoID", ViewBag.mantenimientoID, "Seleccione una opción", new { @class = "form-control search" })*@
            </div>
        </div>
        <div id="div-procedimiento" class="d-block">
            <div class="form-group">
                <label asp-for="procedimientoID" class="control-label"></label>
                <select asp-for="procedimientoID" class="search form-control" asp-items="ViewBag.procedimientoID"></select>
            </div>
        </div>
    </div>

    <div class="tab">
        <h4>Finalizar</h4>        
        <div class="form-group">
            <label asp-for="fechaSalida" class="control-label"></label>
            <input asp-for="fechaSalida" class="form-control" value="" />
            <span asp-validation-for="fechaSalida" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="clienteID" class="control-label"></label>
            <select asp-for="clienteID" class="form-control" asp-items="ViewBag.clienteID"></select>
        </div>
        <div class="form-group">
            <p>Repuestos</p>
        </div>
    </div>    

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-outline-dark">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-outline-dark">Siguiente</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>        
    </div>

</form>

<div>
    <a asp-action="Index">Regresar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multistep.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.search').select2();
        });

        function show1() {
            //document.getElementById('div1').style.display = 'none';
            document.getElementById('div-procedimiento').className = 'd-block';
            document.getElementById('div-mantenimiento').className = 'd-none';
        };
        function show2() {
            document.getElementById('div-mantenimiento').className = 'd-block';
            document.getElementById('div-procedimiento').className = 'd-none';
        };
        function show3() {
            document.getElementById('div-mantenimiento').className = 'd-block';
            document.getElementById('div-procedimiento').className = 'd-block';
        };
    </script>

}
