@model TallerHernandez.Models.Recepcion

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar ficha de ingreso</h1>
<hr />
<div class="mb-2">
    <a class="btn btn-outline-primary font-weight-bold btn-sm" asp-action="Index">Regresar</a>
</div>
    <div class="pr-5 pl-5 pb-1 pt-3" style="background-color : white; border-radius:25px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="recepcionID" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="automovilID" class="control-label"></label>
                    <select asp-for="automovilID" class="form-control" asp-items="ViewBag.automovilID"></select>
                    <span asp-validation-for="automovilID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="clienteID" class="control-label"></label>
                    <select asp-for="clienteID" class="form-control" asp-items="ViewBag.clienteID"></select>
                    <span asp-validation-for="clienteID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="fechaEntrada" class="control-label"></label>
                    <input asp-for="fechaEntrada" class="form-control" />
                    <span asp-validation-for="fechaEntrada" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="fechaEntrada" class="control-label"></label>
                    <input asp-for="fechaEntrada" class="form-control" />
                    <span asp-validation-for="fechaEntrada" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="diagnostico" class="control-label"></label>
                <textarea asp-for="diagnostico" class="form-control" rows="3"></textarea>
                <span asp-validation-for="diagnostico" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="procedimientoID" class="control-label"></label>
                    <select asp-for="procedimientoID" class="form-control" asp-items="ViewBag.procedimientoID"></select>
                    <span asp-validation-for="procedimientoID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="mantenimientoID" class="control-label"></label>
                    <select asp-for="mantenimientoID" class="form-control" asp-items="ViewBag.mantenimientoID"></select>
                    <span asp-validation-for="mantenimientoID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="empleadoID" class="control-label"></label>
                    <select asp-for="empleadoID" class="form-control" asp-items="ViewBag.empleadoID"></select>
                    <span asp-validation-for="empleadoID" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="estado" class="control-label"></label>
                    <select asp-for="estado" class="form-control">
                        <option value="1">En proceso</option>
                        <option value="0">Finalizado</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-success" />
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
