@model TallerHernandez.Models.ModoPago

@{
    ViewData["Title"] = "Delete";
}


    <div class="">
        <h3>¿Desea Eliminar esta forma de pago?</h3>
        <div>
            
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.tipo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.tipo)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="modopagoID" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </form>
        </div>
    </div>