@model TallerHernandez.Models.ModoPago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModoPago</h4>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.modopagoID">Edit</a> |
  
</div>
