@model TallerHernandez.Areas.Cliente.Models.Cliente
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Crear Nuevo Cliente</h1>
<h5>Llene el siguiente formulario con los datos del nuevo cliente</h5>
<hr />
<form asp-action="Insertar">
    <div class="row">
        <div class="col-12 superRedondo" style="background-color:#fff">
            <div class="row">
                <div class="col-md-6 col-sm-12 pt-4 pl-4 pr-4 pb-3">
                    @*<div class="text-center"><h3>Registrar Empleado</h3></div>*@
                    <div class="text-center pt-4">
                        <img src="/images/user.png" alt="usuario" style="width:75%;height:70%" />
                    </div>
                    <div class="caption text-center mb-4">
                        <label class="btn btn-primary btn-block" for="files">Subir Fotografía</label>
                        <input accept="image/*" type="file" class="btn btn-info hide" id="files" />
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="nombre" class="control-label">Nombre</label>
                        <input asp-for="nombre" class="form-control" placeholder="Nombre del empleado" />
                        <span asp-validation-for="nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="apellido" class="control-label">Apellido</label>
                        <input asp-for="apellido" class="form-control" placeholder="Apellido del empleado" />
                        <span asp-validation-for="apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 superRedondo pt-4 pl-4 pr-4 pb-3" style="background-color:#a6a6a6">
                    <div class="text-center mb-4"><h3>Datos personales</h3></div>
                    <div class="form-group">
                        <label asp-for="dui" class="control-label">DUI</label>
                        <input asp-for="dui" class="form-control" placeholder="Documento de identidad (DUI)" />
                        <span asp-validation-for="dui" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="correo" class="control-label">Correo</label>
                        <input asp-for="correo" class="form-control" placeholder="Ejemplo@mail.com" />
                        <span asp-validation-for="correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="telefono" class="control-label">Teléfono</label>
                        <input asp-for="telefono" class="form-control" placeholder="########" />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar empleado" class="btn btn-success btn-block" />
                    </div>
</form>
<div>
    <a class="btn btn-danger btn-block" asp-action="Index">Cancelar</a>
</div>
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}