@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TallerHernandez</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark b border-bottom box-shadow mb-3" style="background-color: #2e2d2d !important;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Taller Hernandez</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>               
                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse collapse show" style=" ">
                    <ul class="navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Clientes" asp-action="">Cliente</a>
                            </li>
                            @if (User.IsInRole("Superusuario"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Empleadoes" asp-action="">Empleados</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Repuestoes" asp-action="">Repuesto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Automovils" asp-action="">Automovil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Recepcions" asp-action="">Recepciones</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Asignación de Tareas</a>
                                <div class="dropdown-menu">
                                    @if (User.IsInRole("Superusuario") || User.IsInRole("Administrador"))
                                    {
                                        <a class="nav-link " asp-area="" asp-controller="AsignacionTareas" asp-action="">Trabajos en proceso</a>
                                        <a class="nav-link " asp-area="" asp-controller="AsignacionTareas" asp-action="TareasFinalizadas">Trabajos finalizados</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link " asp-area="" asp-controller="AsignacionTareas" asp-action="TareasEnProcesoEmpleado">Labores asignadas</a>
                                        <a class="nav-link " asp-area="" asp-controller="AsignacionTareas" asp-action="TareasFinalizadasEmpleado">Labores finalizadas</a>
                                    }
                                </div>
                            </li>
                            @if (User.IsInRole("Superusuario") || User.IsInRole("Administrador"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Configuración</a>
                                    <div class="dropdown-menu">
                                        @if (User.IsInRole("Superusuario"))
                                        {
                                            <a class="nav-link " asp-area="" asp-controller="ModoPagoes" asp-action="">Pagos</a>
                                            <a class="nav-link " asp-area="" asp-controller="Rols" asp-action="">Puestos</a>
                                            <a class="nav-link " asp-area="" asp-controller="Usuarios" asp-action="">Usuarios</a>
                                        }
                                        <a class="nav-link " asp-area="" asp-controller="Areas" asp-action="">Areas</a>
                                        <a class="nav-link " asp-area="" asp-controller="Mantenimiento" asp-action="">Mantenimientos</a>
                                    </div>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>

                    @*<ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Home/Privacy">Privacy</a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TallerHernandez - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Cliente.js" asp-append-version="true"></script>
    <script src="~/js/Area.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js" asp-append-version="true"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/previewImagen.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <style>
        .navbar .nav {
            overflow: visible;
        }
    </style>
</body>
</html>
